#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* JIS配列用 記号変換定義 */
#define JA_AT    LBKT               // @
#define JA_LBKT  RBKT               // [
#define JA_RBKT  NON_US_HASH       // ]
#define JA_COLON SQT                // :
#define JA_SCLN  SEMI               // ;
#define JA_HAT   EQUAL              // ^
#define JA_YEN   INT3               // ¥
#define JA_PIPE  LS(INT3)           // |
#define JA_TILDE LS(EQUAL)          // ~
#define JA_UNDER LS(INT1)           // _
#define JA_AMPS  LS(N6)             // &
#define JA_DLLR  LS(N4)             // $
#define JA_DQUOT LS(N2)             // "
#define JA_SQUOT LS(N7)             // '
#define JA_LBRC  LS(RBKT)           // {
#define JA_RBRC  LS(NON_US_HASH)    // }
#define JA_AST   LS(SQT)            // *
#define JA_PLUS  LS(SEMI)           // +
#define JA_GRV   LS(LBKT)           // `
#define JA_HASH  LS(N3)             // #
#define JA_LT    LS(COMMA)          // <
#define JA_GT    LS(DOT)            // >
#define JA_EXCL  LS(N1)             // !
#define JA_QUES  LS(SLASH)          // ?
#define JA_LPAR  LS(N8)             // (
#define JA_RPAR  LS(N9)             // )
#define JA_PERC  LS(N5)             // %

#define L_DEF 0
#define L_SFT 1
#define L_QWE 2
#define L_QSF 3
#define L_NUM 4
#define L_ARR 5
#define L_SYS 6

/ {
    macros {
        mc_nn: mc_nn { label="MC_NN"; compatible="zmk,behavior-macro"; #binding-cells=<0>; bindings=<&kp N &kp N>; };
        mc_ltu: mc_ltu { label="MC_LTU"; compatible="zmk,behavior-macro"; #binding-cells=<0>; bindings=<&kp L &kp T &kp U>; };
    };

    behaviors {
        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        sh_lt: sh_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "SH_LT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };
        lt_sp: lt_sp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_SP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_lang2  { timeout-ms = <50>; key-positions = <14 15>; bindings = <&kp LANG2>; };
        combo_lang1  { timeout-ms = <50>; key-positions = <20 21>; bindings = <&kp LANG1>; };
        combo_to_qwe { timeout-ms = <50>; key-positions = <13 14>; bindings = <&to L_QWE>; };
        combo_to_def { timeout-ms = <50>; key-positions = <21 22>; bindings = <&to L_DEF>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp Q      &kp Z      &kp COMMA  &kp DOT    &kp JA_QUES   &kp X      &kp W      &kp R      &kp Y      &kp P      &none
&mc_nn &hm LGUI E &hm LALT I &hm LCTRL O &sh_lt L_SFT A &kp U    &kp K      &sh_lt L_SFT T &hm RCTRL N &hm RALT S &hm RGUI H &mc_ltu
&none  &kp C      &kp L      &kp V      &kp MINUS  &kp F         &kp G      &kp D      &kp M      &kp J      &kp B      &none
&none  &none      &kp LANG2  &kp TAB    &lt_sp L_NUM SPACE       &lt_sp L_ARR BSPC &lt L_SYS ENTER &kp LANG1 &none  &none
            >;
        };

        shift_layer {
            bindings = <
&none  &kp LS(Q)  &kp LS(Z)  &kp JA_SQUOT &kp JA_DQUOT &kp JA_EXCL &kp LS(X)  &kp LS(W)  &kp LS(R)  &kp LS(Y)  &kp LS(P)  &none
&mc_nn &kp LS(E)  &kp LS(I)  &kp LS(O)  &kp LS(A)  &kp LS(U)     &kp LS(K)  &kp LS(T)  &kp LS(N)  &kp LS(S)  &kp LS(H)  &mc_ltu
&none  &kp LS(C)  &kp LS(L)  &kp LS(V)  &kp EQUAL  &kp LS(F)     &kp LS(G)  &kp LS(D)  &kp LS(M)  &kp LS(J)  &kp LS(B)  &none
&none  &none      &kp LANG2  &kp TAB    &kp SPACE                &kp BSPC   &kp RET    &kp LANG1  &none      &none
            >;
        };

        qwerty_layer {
            bindings = <
&none  &kp Q      &kp W      &kp E      &kp R      &kp T         &kp Y      &kp U      &kp I      &kp O      &kp P      &none
&mc_nn &hm LGUI A &hm LALT S &hm LCTRL D &sh_lt L_QSF F &kp G    &kp H      &sh_lt L_QSF J &hm RCTRL K &hm RALT L &kp MINUS  &mc_ltu
&none  &kp Z      &kp X      &kp C      &kp V      &kp B         &kp N      &kp M      &kp COMMA  &kp DOT    &kp JA_QUES &none
&none  &none      &kp LANG2  &kp TAB    &lt_sp L_NUM SPACE       &lt_sp L_ARR BSPC &lt L_SYS ENTER &kp LANG1 &none  &none
            >;
        };

        qwerty_shift_layer {
            bindings = <
&none  &kp LS(Q)  &kp LS(W)  &kp LS(E)  &kp LS(R)  &kp LS(T)     &kp LS(Y)  &kp LS(U)  &kp LS(I)  &kp LS(O)  &kp LS(P)  &none
&mc_nn &kp LS(A)  &kp LS(S)  &kp LS(D)  &kp LS(F)  &kp LS(G)     &kp LS(H)  &kp LS(J)  &kp LS(K)  &kp LS(L)  &kp EQUAL  &mc_ltu
&none  &kp LS(Z)  &kp LS(X)  &kp LS(C)  &kp LS(V)  &kp LS(B)     &kp LS(N)  &kp LS(M)  &kp JA_SQUOT &kp JA_DQUOT &kp JA_EXCL &none
&none  &none      &kp LANG2  &kp TAB    &kp SPACE                &kp BSPC   &kp RET    &kp LANG1  &none      &none
            >;
        };

        num_layer {
            bindings = <
&none  &kp JA_AT  &kp JA_LT  &kp JA_GT  &kp SLASH  &kp JA_YEN    &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &none
&mc_nn &kp EQUAL  &kp JA_LBRC &kp JA_RBRC &kp JA_DQUOT &kp JA_SQUOT &kp N1  &kp N2     &kp N3     &kp N4     &kp N5     &mc_ltu
&none  &kp JA_UNDER &kp JA_HAT &kp JA_PERC &kp JA_COLON &kp JA_SCLN &kp EQUAL &kp SLASH &kp JA_AST &kp MINUS &kp JA_PLUS &none
&none  &none      &kp LANG2  &kp TAB    &kp SPACE                &kp BSPC   &kp RET    &kp LANG1  &none      &none
            >;
        };

        arr_layer {
            bindings = <
&none  &kp JA_HASH &kp JA_LBKT &kp JA_RBKT &kp JA_AMPS &kp JA_PIPE &kp HOME   &kp PG_UP  &kp UP     &kp PG_DN  &kp END    &none
&mc_nn &kp EQUAL   &kp JA_LPAR &kp JA_RPAR &kp JA_DQUOT &kp JA_SQUOT &kp DEL  &kp LEFT   &kp DOWN   &kp RIGHT  &kp INS    &mc_ltu
&none  &kp JA_TILDE &kp JA_DLLR &kp JA_GRV  &kp JA_COLON &kp JA_SCLN &kp C_PREV &kp C_RW   &kp C_PP   &kp C_FF   &kp C_NEXT &none
&none  &none      &kp LANG2  &kp TAB    &kp SPACE                &kp BSPC   &kp RET    &kp LANG1  &none      &none
            >;
        };

        system_layer {
            bindings = <
&none  &kp K_APP  &kp K_CONV &kp C_BRI_UP &kp C_VOL_UP &kp F11     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &none
&mc_nn &kp ESC    &kp CAPS   &kp C_BRI_DN &kp C_VOL_DN &kp PSCRN   &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &mc_ltu
&none  &kp K_PAUSE &kp K_NCONV &kp SLCK    &kp C_MUTE &none       &kp F11    &kp F12    &none      &none      &none      &none
&none  &none      &kp LANG2  &kp TAB    &kp SPACE                &kp BSPC   &kp RET    &kp LANG1  &none      &none
            >;
        };
    };
};
