#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// レイヤー定義
#define L_DEF 0
#define L_QWE 1
#define L_NUM 2
#define L_SYM 3
#define L_SHT 4
#define L_SYS 5
#define L_TAB 6 // Tab長押し用レイヤー

// --- JIS配列環境用定義 ---
#define JIS_CARET EQUAL       // ^
#define JIS_AMPS  LS(N6)      // &
#define JIS_ASTRK LS(JIS_CARET) // *
#define JIS_LPAR  LS(N8)      // (
#define JIS_RPAR  LS(N9)      // )
#define JIS_EQL   LS(MINUS)   // =
#define JIS_PLUS  LS(SEMI)    // +
#define JIS_LT    LS(COMMA)   // <
#define JIS_GT    LS(DOT)     // >
#define JIS_QMARK LS(SLASH)   // ?
#define JIS_UNDR  LS(INT1)    // _
#define JIS_PIPE  LS(INT3)    // |
#define JIS_BSLH  INT3        // \ (ろ)
#define JIS_AT    LBKT        // @
#define JIS_LBKT  RBKT        // [
#define JIS_RBKT  NON_US_HASH // ]
#define JIS_LBRC  LS(RBKT)    // {
#define JIS_RBRC  LS(NON_US_HASH) // }
#define JIS_COLON SQT         // :
#define JIS_SEMI  SEMI        // ;
#define JIS_QUOT  LS(N7)      // '
#define JIS_DQUOT LS(N2)      // "
#define JIS_GRV   LS(LBKT)    // `
#define JIS_TILDE LS(EQUAL)   // ~
#define JIS_DLLR  LS(N4)      // $
#define JIS_PRCNT LS(N5)      // %
#define JIS_EXCL  LS(N1)      // !

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_lang2 { timeout-ms = <30>; key-positions = <2 3>; bindings = <&kp LANG2>; };
        combo_lang1 { timeout-ms = <30>; key-positions = <8 9>; bindings = <&kp LANG1>; };
        combo_to_qwerty { timeout-ms = <40>; key-positions = <2 3 13 16>; bindings = <&to L_QWE>; };
        combo_to_def { timeout-ms = <40>; key-positions = <8 9 19 22>; bindings = <&to L_DEF>; };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer { if-layers = <L_NUM L_SYM>; then-layer = <L_SYS>; };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none        &kp Q         &kp C         &kp L          &kp COMMA      &kp DOT        &kp F        &kp W          &kp R          &kp Y         &kp P          &kp V
&kp LSHFT    &hm LGUI E    &hm LALT I    &hm LCTRL O    &hm LSHFT A    &kp U          &kp K        &kp T          &kp N          &kp S         &kp H          &kp RSHFT
&none        &kp X         &kp JIS_COLON &kp JIS_SEMI   &kp MINUS      &kp SLASH      &kp G        &kp D          &kp M          &kp J         &kp B          &kp JIS_QUOT
&none        &none         &none         &lt L_TAB TAB  &lt L_NUM SPACE &lt L_SYM BSPC &lt L_SHT RET &none         &none          &none
            >;
        };

        qwerty_layer {
            bindings = <
&none        &kp Q         &kp W         &kp E          &kp R          &kp T          &kp Y        &kp U          &kp I          &kp O         &kp P          &kp MINUS
&kp LSHFT    &hm LGUI A    &hm LALT S    &hm LCTRL D    &hm LSHFT F    &kp G          &kp H        &kp J          &kp K          &kp L         &kp JIS_SEMI   &kp RSHFT
&none        &kp Z         &kp X         &kp C          &kp V          &kp B          &kp N        &kp M          &kp COMMA      &kp DOT       &kp SLASH      &kp JIS_QUOT
&none        &none         &none         &lt L_TAB TAB  &lt L_NUM SPACE &lt L_SYM BSPC &lt L_SHT RET &none         &none          &none
            >;
        };

        num_sym_layer {
            bindings = <
&kp JIS_CARET &kp JIS_DLLR  &kp JIS_LT    &kp JIS_GT     &kp JIS_PLUS   &kp JIS_ASTRK  &kp N6       &kp N7         &kp N8         &kp N9        &kp N0         &kp JIS_TILDE
&kp LSHFT    &hm LGUI JIS_EQL &hm LALT COMMA &hm LCTRL DOT &hm LSHFT MINUS &kp SLASH &kp N1 &kp N2         &kp N3         &kp N4        &kp N5         &kp RSHFT
&kp JIS_AT    &kp JIS_BSLH  &kp JIS_PIPE  &kp JIS_AMPS   &kp JIS_PRCNT  &kp JIS_GRV    &kp JIS_EXCL &kp JIS_QMARK  &kp JIS_QUOT   &kp JIS_DQUOT &kp JIS_SEMI   &kp JIS_COLON
&none        &none         &none         &lt L_TAB TAB  &trans         &trans         &trans       &none          &none          &none
            >;
        };

        sym_arr_layer {
            bindings = <
&kp JIS_PIPE &kp JIS_AMPS  &kp JIS_LBKT  &kp JIS_RBKT   &kp JIS_SEMI   &kp JIS_COLON  &kp DEL      &kp PG_UP      &kp UP         &kp PG_DN     &kp INS        &none
&kp LSHFT    &hm LGUI JIS_EQL &hm LALT JIS_LPAR &hm LCTRL JIS_RPAR &hm LSHFT JIS_QMARK &kp JIS_EXCL &kp HOME &kp LEFT &kp DOWN &kp RIGHT &kp END        &kp RSHFT
&kp JIS_TILDE &kp JIS_UNDR  &kp JIS_LBRC  &kp JIS_RBRC   &kp JIS_QUOT   &kp JIS_DQUOT  &none        &kp INT5       &kp CAPS       &kp INT4      &none          &none
&none        &none         &none         &lt L_TAB TAB  &trans         &trans         &trans       &none          &none          &none
            >;
        };

        shortcut_arr_layer {
            bindings = <
&kp LS(LC(I)) &kp LS(LC(W)) &kp LC(S)     &kp LC(X)      &kp LC(F)      &kp LS(LC(T))  &kp DEL      &kp PG_UP      &kp UP         &kp PG_DN     &kp INS        &none
&kp LSHFT    &hm LGUI LC(Z) &hm LALT LC(A) &hm LCTRL LC(C) &hm LSHFT LC(V) &kp LC(Y) &kp HOME     &kp LEFT       &kp DOWN       &kp RIGHT     &kp END        &kp RSHFT
&kp LS(LC(J)) &kp LC(W)     &kp LC(O)     &kp LC(N)      &kp LS(LC(V))  &kp LC(T)      &none        &kp INT5       &kp CAPS       &kp INT4      &none          &none
&none        &none         &none         &lt L_TAB TAB  &trans         &trans         &trans       &none          &none          &none
            >;
        };

        system_layer {
            bindings = <
&none        &kp K_APP     &kp SLCK      &kp C_BRI_DN   &kp C_BRI_UP   &none          &kp F6       &kp F7         &kp F8         &kp F9        &kp F10        &none
&kp LSHFT    &kp ESC       &kp C_MUTE    &kp C_VOL_DN   &kp C_VOL_UP   &kp PSCRN      &kp F1       &kp F2         &kp F3         &kp F4        &kp F5         &kp RSHFT
&none        &kp PAUSE_BREAK &kp C_PREV  &kp C_PP       &kp C_NEXT     &none          &kp F11      &kp F12        &none          &none         &none          &none
&none        &none         &none         &lt L_TAB TAB  &trans         &trans         &trans       &none          &none          &none
            >;
        };

        tab_shortcut_layer {
            bindings = <
&kp LS(LC(I)) &kp LS(LC(W)) &kp LC(S)     &kp LC(X)      &kp LC(F)      &kp LS(LC(T))  &none        &none          &none          &none         &none          &none
&kp LS(LC(C)) &kp LC(Z)     &kp LC(A)     &kp LC(C)      &kp LC(V)      &kp LC(Y)      &none        &none          &none          &none         &none          &none
&kp LS(LC(J)) &kp LC(W)     &kp LC(O)     &kp LC(N)      &kp LS(LC(V))  &kp LC(T)      &none        &none          &none          &none         &none          &none
&none        &none         &none         &trans         &trans         &trans         &trans       &none          &none          &none
            >;
        };
    };
};
