manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: sekigon-gonnoc
      url-base: https://github.com/sekigon-gonnoc
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: 19163625b293f06c39f99f191b6e4e56598357f0  # 2024年後半の安定した地点を指定
      import: app/west.yml
  self:
    path: config
